@import "./reset.css";

body,
html {
    overscroll-behavior: none;
    background-color: black;
    color: whitesmoke;
    font-size: 1.125rem;
    font-family: sans-serif;
}

.font-pixel {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
